[project]
	description = Packaging content for mistralclient (distgit)
[access "refs/*"]
  read = group mistralclient-distgit-core
  owner = group mistralclient-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group mistralclient-distgit-core
	label-Code-Review = -2..+2 group mistralclient-distgit-ptl
	label-Verified = -2..+2 group mistralclient-distgit-ptl
	label-Workflow = -1..+1 group mistralclient-distgit-core
	label-Workflow = -1..+1 group mistralclient-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group mistralclient-distgit-ptl
	read = group mistralclient-distgit-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group mistralclient-distgit-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
